<div class="provider">
  <div class="provider__info">
    <h2 class="provider__title">Azure </h2>
    <p>Select the resources you need, to generate Infrastructure As Code templates for automated deployment
    </p>
  </div>
  <div class="provider__resources">
    <table cellpadding="0" cellspacing="0" border="0" class="resource-table" id="resourceTable">
      <tbody id="resourceTableBody">
<!-- Loop over Azure resources --!>
        <tr>
          <td class="drag-handler"></td>
          <td class="provider-table__cell">
            <input type="text" class="provider__text-field" value="virtual_network">
          </td>
          <td class="provider-table__cell">
            <button class="provider-table__del-row-btn">x</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
