<div class="provider">
  <div class="provider__info">
    <h2 class="provider__title">Resources</h2>
    <p>
    </p>
  </div>
  <div class="provider__resources">
    <table cellpadding="0" cellspacing="0" border="0" class="provider-table" id="providerTable">
      <tbody id="providerTableBody">
{% for each row in resource.

      </tbody>
    </table>
  </div>
</div>
