resource "azurerm_api_management_gateway_api" "{{ api_management_gateway_api.name }}" {
  ## Required Vars
  gateway_id   = "{{ api_management_gateway_api.gateway_id }}"
  api_id   = "{{ api_management_gateway_api.api_id }}"


}
