resource "aws_vpc_endpoint_security_group_association" "{{ vpc_endpoint_security_group_association.name }}" {
  ## Required Vars
  vpc_endpoint_id   = "{{ vpc_endpoint_security_group_association.vpc_endpoint_id }}"
  security_group_id   = "{{ vpc_endpoint_security_group_association.security_group_id }}"

  ## Optional Vars
  replace_default_association   = "{{ vpc_endpoint_security_group_association.replace_default_association }}"

}
