  {{ block.name }} {
{% if block.required_vars is defined %}
    ## Required Block Vars
{% for required in block.required_vars %}
{% include('tf_block_required_variables.tf.j2') %}
{% endfor %}
{% endif %}
{% if block.optional_vars is defined %}
    ## Optional Block Vars
{% for optional in block.optional_vars %}
{% include('tf_block_optional_variables.tf.j2') %}
{% endfor %}
{% endif %}
  }

