resource "aws_subnet" "{{ subnet.name }}" {
  ## Required Vars
  vpc_id   = "{{ subnet.vpc_id }}"

  ## Optional Vars
  assign_ipv6_address_on_creation   = {{ subnet.assign_ipv6_address_on_creation }}
  availability_zone   = "{{ subnet.availability_zone }}"
  availability_zone_id   = "{{ subnet.availability_zone_id }}"
  cidr_block   = "{{ subnet.cidr_block }}"
  customer_owned_ipv4_pool   = "{{ subnet.customer_owned_ipv4_pool }}"
  enable_dns64   = {{ subnet.enable_dns64 }}
  enable_resource_name_dns_aaaa_record_on_launch   = {{ subnet.enable_resource_name_dns_aaaa_record_on_launch }}
  enable_resource_name_dns_a_record_on_launch   = {{ subnet.enable_resource_name_dns_a_record_on_launch }}
  ipv6_cidr_block   = "{{ subnet.ipv6_cidr_block }}"
  ipv6_native   = {{ subnet.ipv6_native }}
  map_customer_owned_ip_on_launch   = {{ subnet.map_customer_owned_ip_on_launch }}
  map_public_ip_on_launch   = {{ subnet.map_public_ip_on_launch }}
  outpost_arn   = "{{ subnet.outpost_arn }}"
  private_dns_hostname_type_on_launch   = "{{ subnet.private_dns_hostname_type_on_launch }}"
  tags   = "{{ subnet.tags | to_json | safe }}"

  ## Blocks
  route {
    ## Required Block Vars
    cidr_block   = "{{ subnet.route.cidr_block }}"
    ## Optional Block Vars
    ipv6_cidr_block   = "{{ subnet.route.ipv6_cidr_block }}"
    destination_prefix_list_id   = "{{ subnet.route.destination_prefix_list_id }}"
    carrier_gateway_id   = "{{ subnet.route.carrier_gateway_id }}"
    core_network_arn   = "{{ subnet.route.core_network_arn }}"
    egress_only_gateway_id   = "{{ subnet.route.egress_only_gateway_id }}"
    gateway_id   = "{{ subnet.route.gateway_id }}"
    network_interface_id   = "{{ subnet.route.network_interface_id }}"
    local_gateway_id   = "{{ subnet.route.local_gateway_id }}"
    nat_gateway_id   = "{{ subnet.route.nat_gateway_id }}"
    transit_gateway_id   = "{{ subnet.route.transit_gateway_id }}"
    vpc_endpoint_id   = "{{ subnet.route.vpc_endpoint_id }}"
    vpc_peering_connection_id   = "{{ subnet.route.vpc_peering_connection_id }}"
  }
}
