resource "azurerm_application_security_group" "{{ application_security_group.name }}" {
  ## Required Vars
  name   = "{{ application_security_group.name }}"
  location   = "{{ application_security_group.location }}"
  resource_group_name   = "{{ application_security_group.resource_group_name }}"

  ## Optional Vars
  tags   = "{{ application_security_group.tags | to_json | safe }}"

}
